@import './base.css';
.leftright {
  display: flex;
  justify-content: space-between
}

.trait-name {

}
li, ul, h4, h3, h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.red {color: red;}
.green {color: green;}
.black {color: black;}
.main {
  max-width: 800px;
}
select {
  border-radius: 10px;
}
.dragon-box {
  border: solid 1px black;
  margin-bottom: 10px;
}

@media print {
  input, button, select {display:none;}
}
